@model IEnumerable<FreidrdEventApp4.Models.DomainModel.Event>
@{
    ViewData["Title"] = "Event Home Page";
}

<h2>Event List</h2>
<h3>Welcome to the Music Event Management Application</h3>
<p>This application manages my events for my hobby, which is playing music!</p>
<p>This table below is all the information we are capturing this round in version 1. </p>

<table class="table">
    <thead>
        <tr><th>Event Id</th><th>Event Name</th><th>Event City</th><th>Event Date</th><th>Venue Name</th><th>Venue Address</th><th>Promoter Name</th></tr>
    </thead>
    <tbody>
        @foreach (FreidrdEventApp4.Models.DomainModel.Event e in Model)
        {
            <tr>
                <td>@e.EventId</td>
                <td>@e.EventName</td>
                <td>@e.EventCity</td>
                <td>@e.EventDate</td>
                <td>@e.VenueName</td>
                <td>@e.VenueAddress</td>
                <td>@e.PromoterName</td>

            </tr>
        }
    </tbody>
</table>
<p>The llink below leads to the interface to Edit, Add Delete a Record!</p>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="index">[Add - Delete - Edit] A Record Here!</a>
</div>
